{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié | La Boutique Française{% endblock %}

    {% block stylesheet %}
        <style>
            .block-small{
                max-width:600px;
                margin:0 auto;
            }
        </style>
    {% endblock %}
{% block content %}
    <div class="block-small">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}
        {{ form(form) }}
    </div>
{% endblock %}
